/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

body.dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}


/* ===== Sidebar ===== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 3;
}


.sidebar.close {
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text {
    opacity: 0;
}

/* =========================== */

.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

.sidebar header .logo-text {
    display: flex;
    flex-direction: column;
}

header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession {
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img {
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
    margin-top: 40px;
}

.sidebar li.search-box {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}

.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover {
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.sidebar .menu-bar .mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
}

.mode .sun-moon i {
    position: absolute;
}

.mode .sun-moon i.sun {
    opacity: 0;
}

body.dark .mode .sun-moon i.sun {
    opacity: 1;
}

body.dark .mode .sun-moon i.moon {
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before {
    left: 20px;
}


.home {
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.home .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.home2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--body-color);
    transition: var(--tran-05);
    text-align: center;
    /* Center the content horizontally */
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#search-input {
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
}

#search-button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
}

#search-button:hover {
    background-color: var(--primary-color-hover);
}



.home3 {
    position: absolute;
    top: 30%;
    left: 50%;
    /* 요소를 화면에서 조금 더 오른쪽으로 이동 */
    transform: translate(-30%, -50%);
    width: 80%;
    max-width: 600px;
    padding: 30px;
    box-sizing: border-box;
    background-color: var(--body-color);
    transition: var(--tran-05);
    text-align: center;
    /* 가로로 내용을 가운데 정렬합니다. */
}


.spot-on {
    font-size: 48px;
    /* spot on 글자의 크기를 조절하세요 */
    font-weight: bold;
    /* spot on 글자의 굵기를 조절하세요 */
}

.description {
    font-size: 16px;
    /* 추가된 문장의 글자 크기를 조절하세요 */
}




.sidebar.close~.home {
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

body.dark .home .text {
    color: var(--text-color);
}


.sidebar.close~.home2 {
    left: calc(50% + (78px - 250px) / 2);
    width: calc(80% - (250px - 78px));
}


body.dark .home2 .text {
    color: var(--text-color);
    /* Ensures text color adapts in dark mode */
}


.sidebar.close~.home3 {
    left: calc(50% + (78px - 250px) / 2);
    width: calc(80% - (250px - 78px));
}


body.dark .home3 .text {
    color: var(--text-color);
    /* Ensures text color adapts in dark mode */
}


/* header-bar 스타일 */
.header-bar {
    position: fixed;
    top: 0;
    right: 0;
    width: auto;
    z-index: 2;
    /* 다른 요소 위에 표시하기 위한 z-index 값입니다 */
}

.header-bar .navbar {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
    /* 필요에 따라 패딩을 조절하세요 */
}

.header-bar .menu-links {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
}

.header-bar .menu-links li a {
    text-decoration: none;
    color: #333;
    /* 메뉴 항목의 글자색을 설정하세요 */
    font-weight: 500;
    transition: 0.2s ease;
}

.header-bar .menu-links li a:hover {
    color: #695CFE;
    /* 메뉴 항목의 호버 시 글자색을 설정하세요 */
}

.header-bar .menu-links .language-item a {
    display: flex;
    gap: 8px;
    align-items: center;
}

.header-bar .menu-links .language-item span {
    font-size: 1.3rem;
}

.header-bar .menu-links .join-btn a {
    border: 1px solid #695CFE;
    /* 가입 버튼 테두리 색상을 설정하세요 */
    padding: 8px 15px;
    border-radius: 4px;
    color: #695CFE;
    /* 가입 버튼 글자색을 설정하세요 */
    transition: 0.2s ease;
}

.header-bar .menu-links .join-btn a:hover {
    background-color: #695CFE;
    /* 가입 버튼 호버 시 배경색을 설정하세요 */
    color: #fff;
    /* 가입 버튼 호버 시 글자색을 설정하세요 */
}


/* 검색어 입력창*/



.hero-section {
    height: 100vh;
    position: relative;
    display: flex;
    padding: 0px;
    align-items: center;
    transition: var(--tran-05);
    /* 움직임에 transition 효과 적용 */
    left: 0;
    /* 초기 위치 설정 */
}

.hero-section .content {
    max-width: 1280px;
    margin: 0 auto 40px;
    width: 100%;
}

.hero-section .content h1 {
    color: #3a3b3c;
    font-size: 3rem;
    max-width: 630px;
    line-height: 65px;
}

.hero-section .search-form {
    height: 48px;
    display: flex;
    max-width: 630px;
    margin-top: 30px;
}

.hero-section .search-form input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 15px;
    font-size: 1rem;
    border-radius: 4px 0 0 4px;
}

.hero-section .search-form button {
    height: 100%;
    width: 60px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #695CFE;
    color: #fff;
    border-radius: 0 4px 4px 0;
    transition: background 0.2s ease;
}

.hero-section .search-form button:hover {
    background: #695CFE;
}

.hero-section .popular-tags {
    display: flex;
    color: #3a3b3c;
    gap: 25px;
    font-size: 0.875rem;
    font-weight: 500;
    margin-top: 25px;
}

.hero-section .popular-tags .tags {
    display: flex;
    gap: 15px;
    align-items: center;
    list-style: none;
}

.hero-section .tags li a {
    text-decoration: none;
    color: #3a3b3c;
    border: 1px solid #3a3b3c;
    padding: 4px 12px;
    border-radius: 50px;
    transition: 0.2s ease;
}

.hero-section .tags li a:hover {
    color: #000;
    background: #3a3b3c;
}

.navbar #hamburger-btn {
    color: #3a3b3c;
    cursor: pointer;
    display: none;
    font-size: 1.7rem;
}

.navbar #close-menu-btn {
    position: absolute;
    display: none;
    color: #000;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 1.7rem;
}

/* 사이드바가 열릴 때 .hero-section 이동 */
.sidebar:not(.close)~.hero-section {
    left: 250px;
    /* 사이드바 너비만큼 이동 */
}


/* 이미지 슬라이더 */


.container {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
    /* 가로 중앙 정렬 */
    margin-top: 45vh;
    transition: var(--tran-05);
    z-index: 2;
}


.slider-wrapper {
    position: relative;
}

.slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 2;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    background: #000;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.slider-wrapper .slide-button:hover {
    background: #404040;
}

.slider-wrapper .slide-button#prev-slide {
    left: -25px;
    display: none;
}

.slider-wrapper .slide-button#next-slide {
    right: -25px;
}

.slider-wrapper .image-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 18px;
    font-size: 0;
    list-style: none;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
}

.slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
}

.slider-wrapper .image-list .image-item {
    width: 227.5px;
    /* 기존 325px의 70% */
    height: 280px;
    /* 기존 400px의 70% */
    object-fit: cover;
}


.container .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.slider-scrollbar .scrollbar-track {
    background: #ccc;
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
}

.slider-scrollbar:hover .scrollbar-track {
    height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
    position: absolute;
    background: #000;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    cursor: grab;
    border-radius: inherit;
}

.slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}

/* Styles for mobile and tablets */
@media only screen and (max-width: 1023px) {
    .slider-wrapper .slide-button {
        display: none !important;
    }

    .slider-wrapper .image-list {
        gap: 10px;
        margin-bottom: 15px;
        scroll-snap-type: x mandatory;
    }

    .slider-wrapper .image-list .image-item {
        width: 280px;
        height: 380px;
    }

    .slider-scrollbar .scrollbar-thumb {
        width: 20%;
    }
}

.sidebar.close~.contatiner {
    left: calc(50% + (78px - 250px) / 2);
    width: calc(80% - (250px - 78px));
}





/* 사진 업로드하는 부분 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    z-index: 2;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    z-index: 2;
}

.wrapper {
    width: 450px;
    height: 288px;
    padding: 30px;
    border-radius: 9px;
    transition: height 0.2s ease;
    z-index: 2;
}

.wrapper.active {
    height: 537px;
}

.wrapper .upload-box {
    height: 225px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 2px dashed #afafaf;
}

.wrapper.active .upload-box {
    border: none;
}

.upload-box p {
    font-size: 1.06rem;
    margin-top: 20px;
}

.wrapper.active .upload-box p {
    display: none;
}

.wrapper.active .upload-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}


/* 기존 스타일 유지 */
/* 검색 및 버튼 스타일 */
#search-input,
#search-button,
#refresh-button {
    width: calc(100% - 20px);
    /* 패딩 고려 */
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #695CFE;
}

#search-button,
#refresh-button {
    background-color: #695CFE;
    color: white;
    border: none;
    cursor: pointer;
}

#refresh-button {
    background-color: #494949;
}

#search-button:hover,
#refresh-button:hover {
    opacity: 0.9;
}



/* 비디오 업로드하는 부분 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #695CFE;
}

::selection {
    color: #fff;
    background: #d3d1ea;
}

.form {
    width: 450px;
    padding: 30px;
    border-radius: 5px;
}

.form header {
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    margin-top: 10px;
    color: #695CFE;
}

.form .url-input {
    margin: 30px 0;
}

.url-input .title {
    font-size: 16px;
    color: #373737;
}

.url-input .field {
    margin-top: 5px;
    height: 50px;
    width: 100%;
    position: relative;
}

.url-input .field input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 15px;
    font-size: 15px;
    background: #F1F1F7;
    border-bottom: 2px solid #ccc;
    font-family: 'Noto Sans', sans-serif;
}

.url-input .field input::placeholder {
    color: #b3b3b3;
}

.url-input .field .bottom-line {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: #695CFE;
    transform: scale(0);
    transition: transform 0.3s ease;
}

.url-input .field input:focus~.bottom-line,
.url-input .field input:valid~.bottom-line {
    transform: scale(1);
}

.form .preview-area {
    border-radius: 5px;
    height: 220px;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px dashed #8e46ec;
}

.preview-area.active {
    border: none;
}

.preview-area .thumbnail {
    width: 100%;
    display: none;
    border-radius: 5px;
}

.preview-area.active .thumbnail {
    display: block;
}

.preview-area.active .icon,
.preview-area.active span {
    display: none;
}

.preview-area .icon {
    color: #8e46ec;
    font-size: 80px;
}

.preview-area span {
    color: #8e46ec;
    margin-top: 25px;
}

.form .download-btn {
    color: #fff;
    height: 53px;
    width: 100%;
    outline: none;
    border: none;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    margin: 30px 0 20px 0;
    border-radius: 5px;
    background: #695CFE;
}

.download-btn:hover {
    background: #695CFE;
}

@media screen and (max-width: 460px) {
    body {
        padding: 0 20px;
    }

    .form header {
        font-size: 24px;
    }

    .url-input .field,
    .form .download-btn {
        height: 45px;
    }

    .form .download-btn {
        font-size: 15px;
    }

    .form .preview-area {
        height: 130px;
    }

    .preview-area .icon {
        font-size: 50px;
    }

    .preview-area span {
        margin-top: 10px;
        font-size: 12px;
    }
}