<!-- Coding by CodingLab | www.codinglabweb.com -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spot On</title>
    <!-- Google Fonts Link For Icons -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="../page4_video/style.css">
    
    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    
    <title>Dashboard Sidebar Menu</title> 
</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="../logo.png" alt="">
                </span>

                <div class="text logo-text">
                    <span class="name">Spot On</span>
                    <span class="profession">Search Engine</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">

                <li class="search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="text" placeholder="Search...">
                </li>

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="../page1_home/index.html"></i>
                            <i class='bx bx-home-alt icon' ></i>
                            <span class="text nav-text">Home</span>
                        </a>
                    </li>
                
                    <li class="nav-link">
                        <a href="../page2_text/index.html"></i>
                            <i class='bx bx-pencil icon' ></i>
                            <span class="text nav-text">Text</span>
                        </a>
                    </li>
                
                    <li class="nav-link">
                        <a href="../page3_image/index.html"></i>
                            <i class='bx bx-image icon'></i>
                            <span class="text nav-text">Image</span>
                        </a>
                    </li>
                
                    <li class="nav-link">
                        <a href="../page4_video/index.html"></i>
                            <i class='bx bx-video icon' ></i>
                            <span class="text nav-text">Video</span>
                        </a>
                    </li>                
            </div>

            <div class="bottom-content">
                <li class="">
                    <a href="#">
                        <i class='bx bx-log-out icon' ></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>

                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark mode</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
                
            </div>
        </div>

    </nav>
    
    <section class="home">
        <div class="text">Spot On</div>
    </section>

    <section class="header-bar">
        <nav class="navbar">
            <ul class="menu-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Basket</a></li>
                <li><a href="#">My Page</a></li>
                <li><a href="#">Sign In</a></li>
                <li class="join-btn"><a href="#">Join Us</a></li>
            </ul>
        </nav>
    </section>

    <form action="<?php echo $_SERVER['PHP_SELF']; ?>" method="POST">
        <header>Find Item in the Video</header>
        <!-- URL 입력 필드 -->
        <div class="url-input">
          <span class="title">Paste video url:</span>
          <div class="field">
            <input type="text" placeholder="https://www.youtube.com/watch?v=lqwdD2ivIbM" required>
            <input class="hidden-input" type="hidden" name="imgurl">
            <span class="bottom-line"></span>
          </div>
        </div>
        <!-- 검색어 입력 필드 (순서 변경됨) -->
        <div class="url-input">
          <span class="title">Enter the item you are looking for in the video:</span>
          <div class="field">
            <input type="text" placeholder="Type here..." name="searchTerm">
            <span class="bottom-line"></span>
          </div>
        </div>
        <div class="preview-area">
          <img class="thumbnail" src="" alt="">
          <i class="icon fas fa-cloud-download-alt"></i>
          <span>Paste video url to see preview</span>
        </div>
        <button class="download-btn" type="submit" name="button">Search</button>
      </form>
    

      <script src="../static/js/page4.js"></script>
      <script src="../static/js/common.js"></script>



</body>
</html>

